#cust_list{
    width: 100%;
    height: calc(100% - 90px);
}
#cust_list .ui.label{
    border-radius: 50px !important;
}
.cust_search_con{
    padding: 0 !important;
}
.cust_search_con > input{
    margin: 7px 0 7px -7px;
    width: 100%;
}

.cust.item {
    width: 100%;
    height: 70px;
    box-sizing: border-box;
    border: 1px solid #ddd;
    padding: 10px;
    font-size: 16px;
    line-height: 1.5;
    margin-bottom: -1px;
}
.cust.item > label{
    float: right !important;
}

#cust_filters_popup {
    width: 70vw;
    height: 420px;
    margin-left: -35vw;
    margin-top: -210px;
}
#cust_popup {
    width: 300px !important;
    height: 280px;
    margin-left: -40%;
    margin-top: -140px;
    padding: 13px !important;
}
#cust_popup > h3, #cust_popup > button {
    margin: 0 0 8px 0;
}
#cust_popup > div.spacer {
    width: 100%;
    height: 42px;
}

#cust_pp_placeholder{
    width: 100%;
    height: 68px;
    display: block;
}