i.colored.users {
    color: #52C993;
}

i.colored.setting {
    color: #FFD23B;
}

i.colored.calendar {
    color: #8DA9D0;
}

i.colored.building {
    color: #C5AEF5;
}

i.colored.chart.line {
    color: #7EBFFF;
}

i.colored.box, i.colored.boxes {
    color: #F38141;
}

i.colored.fax {
    color: #F24C3D;
}

i.colored.cart {
    color: #C09CD9;
}

i.colored.clone {
    color: #8DA9D0;
}

i.colored.newspaper {
    color: #C19292;
}

i.colored.user {
    color: #35E658;
}

i.colored.map.marker {
    color: #F24C3D;
}

i.colored.balance.scale, i.colored.handshake, i.colored.shopping, i.colored.money{
    color: #FFCC5C;
}